@page {
    size: 420mm 730mm; /* 页面宽度为A2的宽度，高度增加到600mm */    
    margin: 5mm; /* 控制边距，单位可以是 'in', 'cm', 'mm', 'pt' 等 */
}

.title {
    position: relative;
    font-size: 60px;
    margin-top: 10px;
    margin-left: 30px;
}
.title::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: -4.4%;
    height: 2px;
    width: 106.2%;
    background-color: #e3d7d7;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 30px;
}
.flex-header1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.time{
    margin-right: 1.5%;
}

.timmy-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right: 20px;
}

.text1 {
    font-size: 25px;
    margin-left: 80px;
}

.text1 h3{
    margin-top: -20px;
    font-size: 20px;
    color: gray;
}

.flex-container h3 { 
    margin: 0;
    text-align: right;
}


.total_score p {
    margin-bottom: 5px; /* 调整 margin-bottom */
}

.total_score h2 {
    font-size: 70px;
    margin: 5px 0; /* 添加 margin */
}

.total_score .difference {
    margin-top: 5px; /* 调整 margin-top */
}



.category_score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    page-break-inside: avoid; /* 避免分页时被拆分 */
}

.report-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    page-break-inside: avoid; /* 避免内容在分页时被拆分 */
}




.bg-positive {
    background-color: #4ef973; /* 浅绿色 */
}

.bg-negative {
    background-color: #fcbe7f; /* 浅橙色 */
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header-line {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.report-section {
    width: 40%;
    margin: 20px 0;
}

iframe {
    border: none;
}

.f_chart{
    width: 550px;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 15px; /* 添加圆角效果 */

}

.t_chart{
    width: 550px;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 15px; /* 添加圆角效果 */

}

.a_chart{
    width: 550px;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 15px; /* 添加圆角效果 */

}

.AI1 {
    width: 40%;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 15px; /* 添加圆角效果 */
}

.AI2_1{
    width: 40%;
    margin: 50px 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 15px; /* 添加圆角效果 */
}

.AI2_2{
    width: 40%;
    margin: 50px 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 15px; /* 添加圆角效果 */
}


.AI2_3{
    width: 40%;
    margin: 50px 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 15px; /* 添加圆角效果 */
}





.difference {
    color: gray;
}

.total_score {
    width: 25%;
    margin-left: auto;
    margin-right: 15px;
    padding: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 15px; /* 添加圆角效果 */
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('/static/fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

.gray-text {
    color: gray;
}

