.title {
    position: relative;
    font-size: 50px;
}
.title::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: -1.8%;
    height: 2px;
    width: 103.5%;
    background-color: #e3d7d7;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.flex-header1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.time{
    margin-right: 1.5%;
}

.timmy-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-right: 20px; /* 調整圖片和文字之間的間距 */
}

.text1 {
    font-size: 25px;
    margin-left: 80px; /* 調整文字和圖片之間的間距 */
}

.text1 h3{
    margin-top: -20px;
    font-size: 20px;
    color: gray;
}

.flex-container h3 { 
    margin: 0;
    text-align: right;
}

.category_score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.AI2_11 {
    margin: -6px 20px 50px 20px; /* 设置上方的 margin 为 -20px，其他方向保持原样 */
}

.AI2_12 {
    margin: -6px 20px 50px 20px; /* 设置上方的 margin 为 -20px，其他方向保持原样 */
}

.AI2_13 {
    margin: -6px 20px 50px 20px; /* 设置上方的 margin 为 -20px，其他方向保持原样 */
}





.report-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header-line {
    border-bottom: 2px solid #ccc; /* 添加底部邊框 */
    margin-bottom: 20px; /* 添加一些空間，使線條與後面的內容分開 */
}

.content {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
}

.r1 {
    text-align: center;
    padding-left: 535px; /* 根據需要調整這個值 */
    font-size: 45px;
}

.r2 {
    text-align: center;
    padding-left: 535px; /* 根據需要調整這個值 */
    font-size: 45px;
}

.r3 {
    text-align: center;
    padding-left: 535px; /* 根據需要調整這個值 */
    font-size: 45px;
}

.report-section {
    width: 40%;
    height: 60%;
    margin: 20px 0;
}
.report2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.report3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}



iframe {
    border: none;
}

.AI1 {
    width: 91.5\%;
    margin: 20px 0;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 15px; /* 添加圆角效果 */
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}


.AI2 {
    width: 40%;
    margin: 50px 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 15px; /* 添加圆角效果 */
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.AI3 {
    width: 35%;
    height: 500px;
    margin-top: 175px;
    margin-right: 2px;
    margin-left: 100px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 15px; /* 添加圆角效果 */
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.AI4 {
    width: 35%;
    height: 540px;
    margin-top: 175px;
    margin-right: 2px;
    margin-left: 100px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 15px; /* 添加圆角效果 */
    border-radius: 15px; /* 添加圆角效果 */
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.difference {
    color: gray;
}


.total_score {
    width: 25%;
    margin-left: auto;
    margin-right: 15px;
    padding: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 15px; /* 添加圆角效果 */
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */

}

#chart3 {
    position: relative;
}

.legend {
    font-size: 12px;
    font-family: Arial, sans-serif;
}


.gray-text {
    color: gray;
}






#facial_score_btn,
#facial_score_btn:focus {
    position: relative;
    min-width: 200px;
    background-color: rgb(104, 102, 107);
    border-radius: 4em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
    padding: 10px 20px;
    margin-left: 75px;
}
#facial_score_btn:hover {
    background-color: #3A3A3A;
    color: white;
    transition-duration: 0.1s;}

#facial_score_btn:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 10px 40px white;
        border-radius: 4em;
}

#facial_score_btn:active:after {
    opacity: 1;
    transition: 0s;
    box-shadow: 0 0 0 0 rgb(73, 70, 70);
}

#facial_score_btn:active {
    top: 1px;
}

.flexbutton {
    display: flex;
}


#audio_score_btn,
#audio_score_btn:focus {
    position: relative;
    min-width: 200px;
    background-color: rgb(104, 102, 107);;
    border-radius: 4em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
    padding: 10px 20px;
    margin-left: 75px;
}
#audio_score_btn:hover {
    background-color: #3A3A3A;
    color: white;
    transition-duration: 0.1s;}

#audio_score_btn:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 10px 40px white;
        border-radius: 4em;
}

#audio_score_btn:active:after {
    opacity: 1;
    transition: 0s;
    box-shadow: 0 0 0 0 rgb(73, 70, 70);
}

#audio_score_btn:active {
    top: 1px;
}


#text_score_btn,
#text_score_btn:focus {
    position: relative;
    min-width: 200px;
    background-color: rgb(104, 102, 107);;
    border-radius: 4em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
    padding: 10px 20px;
    margin-left: 75px;
}
#text_score_btn:hover {
    background-color: #3A3A3A;
    color: white;
    transition-duration: 0.1s;}


#text_score_btn:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
    border-radius: 4em;
}

#text_score_btn:active:after {
opacity: 1;
transition: 0s;
box-shadow: 0 0 0 0 rgb(73, 70, 70);
}


#text_score_btn:active {
top: 1px;
}


#total_score_btn,
#total_score_btn:focus {
    position: relative;
    min-width: 200px;
    background-color: rgb(104, 102, 107);;
    border-radius: 4em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
    padding: 10px 20px;
    margin-left: 75px;
}
#total_score_btn:hover {
    background-color: #3A3A3A;
    color: white;
    transition-duration: 0.1s;}


#total_score_btn:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
    border-radius: 4em;
}

#total_score_btn:active:after {
opacity: 1;
transition: 0s;
box-shadow: 0 0 0 0 rgb(73, 70, 70);
}

#total_score_btn:active {
top: 1px;
}
    
