<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>員工報表</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/report2.css') }}">
</head>
<body>
    <div class="report-container">
        <div>
            <h1 class="title">ADAM</h1>
        </div>
        <div class="flex-header">
            <div>
                <h2>{{data.name}}_Service_1</h2>
            </div>
            <div class="time">
                <h3>From <span class="gray-text">{{data.time1}}</span> To <span class="gray-text">{{data.time2}}</span></h3>
            </div>
        </div>
        <div class="flex-header1">
            <img src="{{data.person_photo}}" alt="person_photo" width="300" height="300" style="width: 300px; height:300px; border-radius:100%; margin-left: 30px; margin-top:">
            <div class="text1">
                <h2>{{data.name}}</h2>
                <h3>{{data.organization}}</h3>
            </div>
            <div class="total_score">
                <p style="margin-bottom: 5px;">SCORE</p> <!-- 调整 margin-bottom -->
                <h2 style="font-size: 70px; margin: 5px 0;">{{data.total_score}}</h2> <!-- 添加 margin -->
                <p class="difference" style="margin-top: 5px;">Formula</p> <!-- 调整 margin-top -->
            </div>
        </div>
        <div class="category_score">
            <div class="AI2_1"  style="background-color: {{ '#4ef973' if data.audio_score > 70 else '#fcbe7f;' }}; height: 150px;">
                <div class="AI2_11">
                    <p class="AUDIO" style="margin-bottom: 7px;">AUDIO</p>
                    <h2 style="font-size: 35px;margin: 5px 0;">{{data.audio_score}}</h2>
                    <p class="difference" style="margin-top: 7px;">Formula</p>
                </div>
            </div>
            <div class="AI2_2" style="background-color: {{ '#4ef973' if data.text_score > 70 else '#fcbe7f;' }}; height: 150px;">
                <div class="AI2_12">
                    <p class="TEXT" style="margin-bottom: 7px;">TEXT</p>
                    <h2 style="font-size: 35px;margin: 5px 0;">{{data.text_score}}</h2>
                    <p class="difference" style="margin-top: 7px;">Formula</p>
                </div>
            </div>
            <div class="AI2_3" style="background-color: {{ '#4ef973' if data.facial_score > 70 else '#fcbe7f;' }}; height: 150px;">
                <div class="AI2_13">
                    <p class="FACIAL" style="margin-bottom: 7px;">FACIAL</p>
                    <h2 style="font-size: 35px; margin: 5px 0;">{{data.facial_score}}</h2>
                    <p class="difference" style="margin-top: 7px;">Formula</p>
                    
                </div>
            </div>
        </div>
        <div class="content">
            <div id="report1" class="report-section">
                <h2>FACIAL</h2>
                <img src="{{data.facial_chart}}" class="f_chart" alt="facial_chart" >
            </div>
            <div class="AI1">
                <h2>AI COMMENT</h2>
                <p id="Ftext">{{data.ai_text1}}</p>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var faceElement = document.getElementById('Ftext');
                        var faceToWrite = faceElement.innerText;
                        faceElement.innerText = ''; // Clear the text field
                    
                        var i = 0;
                        function typeWriter() {
                            if (i < faceToWrite.length) {
                                faceElement.innerHTML += faceToWrite.charAt(i);
                                i++;
                                setTimeout(typeWriter, 50); // Adjust typing speed by changing the timeout value
                            }
                        }
                    
                        typeWriter(); // Initialize the typing effect
                    });
                </script>


            </div>
           
            <div id="report2" class="report-section">
                <h2>AUDIO</h2>
                <img src="{{data.text_chart}}" class="t_chart" alt="text_chart" >
            </div>
            <div class="AI1">
                <h2>AI COMMENT</h2>
                <p id="Atext"> {{data.ai_text2}}</p>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var AudioElement = document.getElementById('Atext');
                        var AudioToWrite = AudioElement.innerText;
                        AudioElement.innerText = ''; // Clear the text field
                    
                        var i = 0;
                        function typeWriter() {
                            if (i < AudioToWrite.length) {
                                AudioElement.innerHTML += AudioToWrite.charAt(i);
                                i++;
                                setTimeout(typeWriter, 50); // Adjust typing speed by changing the timeout value
                            }
                        }
                    
                        typeWriter(); // Initialize the typing effect
                    });
                </script>
            </div>
            <div id="report3" class="report-section">
                <h2>TEXT</h2>
                <img src="{{data.audio_chart}}" class="a_chart" alt="audio_chart" >
            </div>
            <div class="AI1">
                <h2>AI COMMENT</h2>
                <p id="Stext">{{data.ai_text3}}</p>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var tElement = document.getElementById('Stext');
                        var tToWrite = tElement.innerText;
                        tElement.innerText = ''; // Clear the text field
                    
                        var i = 0;
                        function typeWriter() {
                            if (i < tToWrite.length) {
                                tElement.innerHTML += tToWrite.charAt(i);
                                i++;
                                setTimeout(typeWriter, 50); // Adjust typing speed by changing the timeout value
                            }
                        }
                    
                        typeWriter(); // Initialize the typing effect
                    });
                </script>
            </div>
        </div>
        <form action="{{ url_for('download_pdf', _external=True) }}" method="get">
            <button id="download_btn" type="submit">Download</button><!--按鈕-->
        </form>
    </div>
</body>
</html>
