<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>整體員工報表</title>
    <link rel="stylesheet" href="/static/css/report.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <div class="report-container">
        <div>
            <h1 class="title">{{data.Organization_Name}}</h1>
        </div>
        <div class="flex-header">
            <div>
                <h2 class="name"> <span class="text0">{{data.Departmental_Information}}</span></h2>
            </div>
            <div class="time">
                <h3>From <span class="gray-text">{{data.time1}}</span> To <span class="gray-text">{{data.time2}}</span></h3>
            </div>
        </div>
        <div class="flex-header1">
            <div class="text1">
                <h2 >{{ data.Manager_name }}</h2>
                <h3>{{ data.Manager_organization }}</h3>
            </div>
            <div class="total">
                <p>SERVICE NUMBER</p>
                <h2 style="font-size:35px">{{ data.Service_Number | int}}</h2>
                <p class="difference">Per Month</p>
            </div>
            <div class="total_score">
                <p>TOTAL SCORE</p>
                <h2 style="font-size:35px">{{ data.Average_total_score }}/{{data1.Average_total_score}}</h2>
                <p class="difference">Customer/Server</p>
            </div>
        </div>
        <div class="category_score">
            <div class="AI2_1">
                <div class="Score_Container1">
                    <div class="AI2" style="background-color: {% if data.Average_audio_score >= 80 %}#4ef973; {% elif data.Average_audio_score >= 60 %}#fcbe7f; {% else %}#ff6f61; {% endif %};position: relative;margin-left: -20px;margin-right: -8px;margin-top: -20px;margin-bottom: 50px;z-index: 3;width: 520px;height: 300px; ">
                        <div class="AI2_11">
                            <p class="AUDIO" style="margin-bottom: 10px; margin-left: 45px; margin-top:25px; ">AUDIO</p>
                            <h2 style="font-size: 35px;margin-left: 65px; margin-top:35px">{{ data.Average_audio_score }}</h2>
                            <p class="difference" style="margin-top: -13px; margin-left:70px">Customer</p>
                        </div>
                    </div>
                    <div class="divider-line" ></div>

                    <div class="AI2-1"style="background-color: {% if data1.Average_audio_score >= 80 %}#4ef973; {% elif data1.Average_audio_score >= 60 %}#fcbe7f; {% else %}#ff6f61; {% endif %};margin-left: 5px;margin-top: -20px; margin-right: -50px;margin-bottom: 50px;position: relative;  height: 300px; width: 550px;z-index: 2; ">
                        <div class="AI2_11">
                            <h2 style="font-size: 35px;margin-left: 55px; margin-top:77px">{{data1.Average_audio_score}}</h2>
                            <p class="difference"style="margin-top: -13px; margin-left:60px">Server</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="AI2_2">
                <div class="Score_Container2">
                        <div class="AI2"style="background-color: {% if data.Average_text_score  >= 80 %} #4ef973ed; {% elif data.Average_text_score  >= 60 %}#fcbe7f; {% else %}#ff6f61; {% endif %};position: relative;margin-left: -20px;margin-right: -8px;margin-top: -20px;margin-bottom: 50px;z-index: 2;width: 520px;height: 300px; ">
                            <div class="AI2_12">
                                <p class="TEXT" style="margin-bottom: 10px; margin-left: 45px; margin-top:25px;">TEXT</p>
                                <h2 style="font-size: 35px;margin-left: 65px; margin-top:35px">{{ data.Average_text_score }}</h2>
                                <p class="difference"style="margin-top: -13px; margin-left:70px">Customer</p>
                            </div>
                        </div>
                    
                    
                    <div class="divider-line" ></div>
                    
                    <div class="AI2_12-1" style="background-color: {% if data1.Average_text_score >= 80 %} #4ef973ed; {% elif data1.Average_text_score >= 60 %}#fcbe7f; {% else %}#ff6f61; {% endif %};margin-left: -10px;margin-top: -20px; margin-right: -70px;margin-bottom: 50px;position: relative;  height: 300px; width: 550px;z-index: 3; ">
                        <div class="AI2_12">
                            <h2 style="font-size: 35px;margin-left: 55px; margin-top:77px">{{data1.Average_text_score}}</h2>
                            <p class="difference"style="margin-top: -13px; margin-left:60px">Server</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="AI2_3">
                <div class="Score_Container3">
                    <div class="AI2" style="background-color: {% if data.Average_facial_score >= 80 %}#4ef973; {% elif data.Average_facial_score >= 60 %}#fcbe7f; {% else %}#ff6f61; {% endif %};position: relative;margin-left: -20px;margin-right: -8px;margin-top: -20px;margin-bottom: 50px;z-index: 3;width: 520px;height: 300px; ">
                        <div class="AI2_13">
                            <p class="FACIAL" style="margin-bottom: 10px; margin-left: 45px; margin-top:25px;">FACIAL</p>
                            <h2 style="font-size: 35px;margin-left: 65px; margin-top:35px">{{ data.Average_facial_score }}</h2>
                            <p class="difference" style="margin-top: -13px; margin-left:70px">Customer</p>
                        </div>
                    </div>

                    <div class="divider-line" ></div>

                    <div class="AI2" style="background-color: {% if data1.Average_facial_score >= 80 %}#4ef973; {% elif data1.Average_facial_score >= 60 %}#fcbe7f; {% else %}#ff6f61; {% endif %}; margin-left: 5px;margin-top: -20px; margin-right: -50px;margin-bottom: 50px;position: relative;  height: 300px; width: 550px;z-index: 2; ">
                        <div class="AI2_13">
                            <h2 style="font-size: 35px;margin-left: 55px; margin-top:77px">{{data1.Average_facial_score}}</h2>
                            <p class="difference" style="margin-top: -13px; margin-left:60px">Server</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="content">
            <div id="report1" class="report-section">
                <div id="chart"></div>
                <!--<div class=" flexbutton">-->
                    <!--<button  href="javascript: void(0)" id="facial_score_btn">Facial Score</button>
                    <button id="audio_score_btn">Audio Score</button>
                    <button id="text_score_btn">Text Score</button>
                    <button id="total_score_btn">Total Score</button>-->
                <!--</div>-->
                <script src="/static/js/report_chart.js"></script>
            </div>
            

            <div id="report2" class="report-section1" >
                <div id="chart1"><!-- 确保 id 唯一 -->
                    <!--<div class=" flexbutton">-->
                        <!--<button  href="javascript: void(0)" id="facial_score_btn">Facial Score</button>
                        <button id="audio_score_btn">Audio Score</button>
                        <button id="text_score_btn">Text Score</button>
                        <button id="total_score_btn">Total Score</button>--> 
                    <!--</div>-->
                    <script src="/static/js/report_chart1.js"></script>
                </div>
                    
            </div>

            <div id="report3" class="report-section2" >
                <div id="chart3"></div> 
                <script src="/static/js/report_chart2.js"></script>
            </div>

            <div id="report4" class="report-section3">
                <div id="chart4"></div> 
                <script src="/static/js/report_chart3.js"></script>
            </div>

            <div id="report5" class="report-section4">
                <div id="chart2"></div> 
                <script src="/static/js/radar_chart.js"></script>
            </div>


            <div class="AI1">
                <h2>AI Suggestion1</h2>
                <p id="ai_suggestion_text">{{ data.Bar_total_summarize_text.replace('\n', '<br>') | safe }} </p>
                <!--<script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var facialElement = document.getElementById('ai_suggestion_text');
                        var facialToWrite = facialElement.innerText;
                        facialElement.innerText = ''; // Clear the text field
                        
                        var i = 0;
                        function typeWriter() {
                            if (i < facialToWrite.length) {
                                facialElement.innerHTML += facialToWrite.charAt(i);
                                i++;
                                setTimeout(typeWriter, 1); // Adjust typing speed by changing the timeout value
                            }
                        }
                        typeWriter(); // Initialize the typing effect
                    });
                </script>-->
            </div>

        </div>

        <form action="{{ url_for('download_pdf1', _external=True) }}" method="get">
            <button id="download_btn" type="submit">Download</button><!--按鈕-->
        </form>
    </div>
</body>
</html>
