<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>整體員工報表</title>
    <link rel="stylesheet" href="/static/css/report.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <div class="report-container">
        <div>
            <h1 class="title">ADAM</h1>
        </div>
        <div class="flex-header">
            <div>
                <h2 class="name"> <span class="text0">Here is the information of your department.</span></h2>
            </div>
            <div class="time">
                <h3>From <span class="gray-text">{{data.time1}}</span> To <span class="gray-text">{{data.time2}}</span></h3>
            </div>
        </div>
        <div class="flex-header1">
            <div class="text1">
                <h2 >{{ data.Manager_name }}</h2>
                <h3>{{ data.Manager_organization }}</h3>
            </div>
            <div class="total">
                <p>HC</p>
                <h2 style="font-size:35px">{{ data.Average_total_score }}</h2>
                <p class="difference">Formula</p>
            </div>
            <div class="total_score">
                <p>SCORE</p>
                <h2 style="font-size:35px">{{ data.Average_total_score }}</h2>
                <p class="difference">Formula</p>
            </div>
        </div>
        <div class="category_score">
            <div class="AI2" style="background-color: {{ '#4ef973' if data.audio_score > 70 else '#fcbe7f;' }}; height: 150px;">
                <div class="AI2_11">
                    <p class="AUDIO">AUDIO</p>
                    <h2 class="Average_Point">{{ data.Average_audio_score }}</h2>
                    <p class="difference">Formula</p>
                </div>
            </div>
            <div class="AI2"style="background-color: {{ '#4ef973' if data.text_score > 70 else '#fcbe7f;' }}; height: 150px;" >
                <div class="AI2_12">
                    <p class="TEXT">TEXT</p>
                    <h2 class="Average_Point">{{ data.Average_text_score }}</h2>
                    <p class="difference">Formula</p>
                </div>
            </div>
            <div class="AI2" style="background-color: {{ '#4ef973' if data.facial_score > 70 else '#fcbe7f;' }}; height: 150px;">
                <div class="AI2_13">
                    <p class="FACIAL">FACIAL</p>
                    <h2 class="Average_Point">{{ data.Average_facial_score }}</h2>
                    <p class="difference">Formula</p>
                </div>
            </div>
        </div>

        <div class="content">
            <div id="report1" class="report-section">
                <h2 class="r1">Bar</h2>
                <div id="chart"></div>
                <div class=" flexbutton">
                    <button  href="javascript: void(0)" id="facial_score_btn">Facial Score</button>
                    <button id="audio_score_btn">Audio Score</button>
                    <button id="text_score_btn">Text Score</button>
                    <button id="total_score_btn">Total Score</button>

                    <script src="/static/js/report_chart.js"></script>
                </div>
            </div>
            <div class="AI1">
                <h2>AI Suggestion1</h2>
                <p id="ai_suggestion_text">{{ data.Bar_total_summarize_text }}</p><!--動態更新-->
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var facialElement = document.getElementById('ai_suggestion_text');
                        var facialToWrite = facialElement.innerText;
                        facialElement.innerText = ''; // Clear the text field
                    
                        var i = 0;
                        function typeWriter() {
                            if (i < facialToWrite.length) {
                                facialElement.innerHTML += facialToWrite.charAt(i);
                                i++;
                                setTimeout(typeWriter, 50); // Adjust typing speed by changing the timeout value
                            }
                        }
                    
                        typeWriter(); // Initialize the typing effect
                    });
                </script>
            </div>

            <div class="report2">
                <div id="report2" class="report-section">
                    <h2 class="r2">Radar</h2>
                    <div id="chart2"></div>
                    <script src="/static/js/radar_chart.js"></script>
                </div>
                <div class="AI3">
                    <h2 class="AI_S2">AI Suggestion2</h2>
                    <p id="radar_text">{{ data.Radar_text }}</p>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            var textElement = document.getElementById('radar_text');
                            var textToWrite = textElement.innerText;
                            textElement.innerText = ''; // Clear the text field
                        
                            var i = 0;
                            function typeWriter() {
                                if (i < textToWrite.length) {
                                    textElement.innerHTML += textToWrite.charAt(i);
                                    i++;
                                    setTimeout(typeWriter, 50); // Adjust typing speed by changing the timeout value
                                }
                            }
                        
                            typeWriter(); // Initialize the typing effect
                        });
                    </script>

                </div>
            </div>

            <div class="report3">
                <div id="report3"  class="report-section">
                    <h2 class="r3">Pie</h2>
                    <div id="chart3"></div>
                    <script src="/static/js/pie_chart.js"></script> 
                </div>           
                <div class="AI4">
                    <h2>AI Suggestion3</h2>
                    <p id="Pie_text">{{ data.Pie_text }}</p>
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                var PieElement = document.getElementById('Pie_text');
                                var PieToWrite = PieElement.innerText;
                                PieElement.innerText = ''; // Clear the text field
                            
                                var i = 0;
                                function typeWriter() {
                                    if (i < PieToWrite.length) {
                                        PieElement.innerHTML += PieToWrite.charAt(i);
                                        i++;
                                        setTimeout(typeWriter, 100); // Adjust typing speed by changing the timeout value
                                    }
                                }
                            
                                typeWriter(); // Initialize the typing effect
                            });
                        </script>
                </div>
        </div>
    </div>
</body>
</html>
